[package]
name = "parallel-stream"
version = "0.3.1"
authors = [ "Stefan Sydow <stefan.sydow@tu-berlin.de>" ]
edition = "2018"


[dependencies]
argparse = "0.2"
log = "0.4"
#simplelog = "0.7"
futures = "0.3"
bytes = "0.5"
#pin-project = "0.4"
pin-project = "1.0.0-alpha.1"

[dependencies.tokio]
version = "0.2"
#default-features = false
#default features = ["codec", "fs", "io", "reactor", "rt-full", "sync", "tcp", "timer", "udp", "uds"]
features = ["io-std", "rt-threaded", "fs", "sync", "stream"]

[dev-dependencies]
libc = "0.2"
smol = "1.2"

#[profile.release]
#lto= "fat"
#opt-level = 3
#codegen-units = 1
#panic = "abort"

#[profile.dev]
#opt-level = 1
#debug = 2
